# macOS
.DS_Store
._*

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# R
*.Rhistory
*.RData

# PDFs (compiled output)
*.pdf
